@charset "UTF-8";

body {
	background: ＃F4F5F7;
}

#btn {
	margin: 30px auto 0;
	width: 240px;
	height: 40px;
	border-radius: 6px;/* 縁を丸く削る */
	background: #EF454A;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	opacity: 0.9;/* ちょい暗めに */
	box-shadow: 0 5px 0 #D1483E;
	border: 3px solid #D1483E;/* ボタンに縁を付ける */
}

#btn:hover {
	opacity: 1;/* ホバーしたら明るくなる */
}

#btn.pushed {
	margin-top: 36px;/* トップをさげてボタンを押した感 */
	box-shadow: 0 4px 0 #D1483E;/* 影を狭くしてボタンを押した感 */
}

#result {
	text-align: center;
}

img {
	width: 16%;
	margin: 40px;
	text-align: center;
}